extends baseEmail

block content 
    p Hi #{name},
        p Forgot your password? Click on this button to reset it.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank', style={'background-color': '#ed2d47', 'border-color': '#0510a8', 'color': '#ffffff', 'border': 'solid 1px #0510a8', 'border-radius': '5px', 'box-sizing': 'border-box', 'cursor': 'pointer', 'display': 'inline-block', 'font-size': '14px', 'font-weight': 'bold', 'margin': '0', 'padding': '12px 25px', 'text-decoration': 'none', 'text-transform': 'capitalize'}) Reset your password
        p If you didn't forget your password, please ignore this email!